

/*base layout*/
.doc{
	display: flex;
	flex-wrap: wrap;

	> a{
		width: 100%;
		padding: 1rem;
		padding-bottom: 0.5rem;
		@extend .greengradient;

		img{
			width: 5rem;
		}

	}

	section{
		margin: 0;
		padding: 3rem 2rem;
		color: $darkgrey;
		font-size: 1rem;

		&.menu{
			width: 20%;
			max-width: 20rem;
		}

		&.content{
			width: 80%;
			padding-bottom: 10rem;
		}

	}

	h1,h2,h3,h4{
		text-shadow: none;
		text-align: left;
		margin: 0;
	}

}



/*menu*/
section.menu {

	img{
		position: relative;
		display: block;
		width: 100%;
		max-width: 10rem;
	}

	ul{
		list-style: none;
		padding: 0;

		li{

			&:not([class]):not(:first-of-type){
				margin-top: 2rem;
			}

			h3{
				font-size: 1rem;
				font-weight: bolder;
			}

			&.active {
				text-decoration: underline;
			}

		}

	}

}



/*content*/
section.content {

	h1{
		margin-bottom: 2rem;
	}

	h2{
		margin-top: 3.5rem;
	}

	h3{
		font-size: 1rem;
		font-weight: bolder;
		margin-top: 1rem;
	}

	ul{
		margin: 1rem 0;

		li{
			line-height: 2;
		}

	}

	p{

		a{
			color: $midgreen;
			font-weight: bolder;
			-webkit-font-smoothing: antialiased;
		}

	}

	pre{
		@extend .panel;
		overflow: scroll;
		margin: 1rem 0;

		code{
			font-size: 0.8rem;
		}

	}

}










