/*basics*/

$lightgreen: #ebfd97;
$midgreen: #36ab66;
$darkgreen: #03614b;
$bluegreen: #009ad1;
$lightgrey: #f0f2f1;
$midgrey: #bfc1c0;
$darkgrey: #697168;

.greengradient {
	background: -moz-linear-gradient(60deg, $darkgreen 0%, $lightgreen 100%);
	background: -webkit-linear-gradient(60deg, $darkgreen 0%, $lightgreen 100%);
	background: linear-gradient(60deg, $darkgreen 0%, $lightgreen 100%);
}

.greenshadow {
	text-shadow: 0 0 15px rgba(0, 90, 32, 0.5);
}

.whiteshadow {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.softshadow {
	box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1rem);
}

.hardshadow {
	box-shadow: 0 0.1rem 1.5rem rgba(0, 0, 0, 0.35rem);
}

*,
*:before,
*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	outline: none;
	margin: 0;
	font-weight: 200;
}

html{
	overflow-x: hidden;
	width: 100%;
}

body{
	overflow-x: hidden;
	position: relative;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
}






/*layout*/

header{
	@extend .greengradient;
	color: white;
	text-align: center;

	img.hubert{
		margin: 3rem 0;
		width: 12.5rem;
	}

	.window{
		max-width: 40rem;
		margin: 3rem auto;
		border-radius: 0.25rem;
		overflow: hidden;
		background: white;
		color: black;
		text-align: left;
		@extend .hardshadow;

		.top{
			background: #eee;
			padding: 0 0.5rem 0.25rem;
			border-bottom: 1px solid #ddd;

			.circle{
				display: inline-block;
				background: white;
				border-radius: 100%;
				width: 0.5rem;
				height: 0.5rem;
			}

		}

		pre{
			counter-reset: line;
			line-height: 0;

			.line{
				display: block;
				line-height: 1.5;
				tab-size: 4;
				color: $darkgrey;

				&:before{
					counter-increment: line;
					content: counter(line);
					display: inline-block;
					background: #eee;
					color: #aaa;
					width: 2rem;
					padding-right: 0.5rem;
					margin-right: 0.5rem;
					text-align: right;
					@extend .whiteshadow;
				}

			}

			.assign{
				color: $bluegreen;
			}

			.method{
				color: $darkgrey;
			}

			.string{
				color: $midgreen;
			}

		}

	}

}

main{
	background: $lightgrey;
	color: $darkgrey;
	font-size: 1.2rem;
	line-height: 1.6;
}

section{
	position: relative;
	display: block;
	width: 100%;
	max-width: 900px;
	margin: auto;
	padding: 3em 0;
}

section + section{
	padding-top: 0;
}

footer{
	text-align: center;
	color: $midgrey;
	font-size: 1rem;

	section{

		ul{
			padding: 0;

			li{
				list-style-type: none;
				display: inline-block;
				color: $darkgrey;

				a{
					font-weight: bolder;

					&:after{
						content: '|';
						margin: 0 1rem;
						font-weight: bolder;
						color: $darkgrey;
					}

				}

				&:last-of-type a:after{
					content: none;
				}

			}

		}

	}

}

h1{
	font-size: 4.5rem;
	line-height: 1;
	@extend .greenshadow;
}

h2{
	font-size: 2.5rem;
	text-align: center;
	margin: 2rem 0;
}

h3{
	font-size: 1.8rem;
	line-height: 1.4;
	@extend .greenshadow;
}

h4{
	color: $midgreen;
	font-weight: 400;
}

p{
	font-size: 1rem;
}

a{
	text-decoration: none;
	color: inherit;

	&:hover{
		color: $midgreen;
	}

}

.fa:before{
	-webkit-font-smoothing: antialiased;
}

.panel{
	@extend .softshadow;
	overflow: hidden;
	background: white;
	border-radius: 0.2rem;
	padding: 1rem 1.5rem;
	margin-bottom: 5rem;

	.feature{
		display: flex;
		align-items: center;

		.fa{
			color: $midgrey;
			font-size: 2.5em;
			margin: 2rem;
		}

		div{
			margin: 0 1rem;
		}

	}

	hr{
		width: 150%;
		border: 0;
		border-top: 1px solid whitesmoke;
		margin: 1rem -25%;
	}

}

.submenu {
    position: absolute;
    top: 10px;
    right: 10px;
}


